body{
    background-color:rgb(211, 211, 209);
}
.BackG
{
    background-color: #007bff;
    height: 400px;
}
.container
{
    background-color:white;
    height: 600px;
    padding-top: 50px;
    border-radius: 35px;
    margin-top: 50px;
}
.ButDangKy
{
    padding-top: 50px;
    padding-left: 450px;
    text-align: center;
    padding-right: 450px;
    border-radius: 10px;
}
.BackG nav
{
    font-size: large;
    font-weight: 900;
}