{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
{{ course.name }}
{% endblock %}
{% block content %}
<div class="container">
    <main class="pt-5">
        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-first bg-light">
                <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{ course.image.url }}">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <h1 class="mb-0 h4">{{ course.title }}</h1>
                <p><span class="lead">{{ course.author }}</span> (Author)</p>
                <p>{{ course.description|slice:":355" }}...</p>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6">Online</div>
                            <div class="col-6 text-end"><span class="h4 fw-bold"> {{ course.price|intcomma }} VND</span></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                            <button type="button" id="add-button" value="{{course.id}}" class="btn btn-secondary btn-sm">Add to basket</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>


<script>
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_add" %}',
            data: {
                courseid: $('#add-button').val(),
                courseqty: 1,
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
               document.getElementById("basket-qty").innerHTML = json.qty
            },
            error: function (xhr, errmsg, err) {}
        });
    })
</script>

{% endblock %}